img#cat(src="https://awiclass.monoame.com/catpic/cat_leftop.png", alt="")

img.cat#cat_blue(src="https://awiclass.monoame.com/catpic/cat_blue_cat.png", alt="")
img.cat#cat_yellow(src="https://awiclass.monoame.com/catpic/cat_yellow_cat.png", alt="")
img.cat#cat_grey(src="https://awiclass.monoame.com/catpic/cat_grey_cat.png", alt="")

.mouse